body {
	transition: all 0.5s;
}

.menu {
	transition: all 0.5s;
}

.Paragraphes {
	transition: all 0.5s;
}

li {
	transition: all 0.5s;
}

h2 {
	float:left;
	padding-left: 7px;
}

#photoUserlight {
	border-radius: 45px;
	position:relative;
	top: 50%;
	
}
#photoUserdark {
	border-radius: 45px;
	position:absolute;
	top: 50%;
}

/* input[type="checkbox"] { */
		/* -webkit-appearance : none; */
		/* visibility: hidden; */
		/* display: none; */
/* } */
/* .nightmode { */
	/* position:relative; */
	/* display:block; */
	/* width: 40px; */
	/* height: 20px; */
	/* background: #092c3e; */
	/* cursor:pointer; */
	/* border-radius: 20px; */
	/* overflow: hidden; */
	/* tranistion: ease-in 0.5s; */
/* } */

/* input[type="checkbox"]:checked ~ .nightmode */
/* { */
	/* background:#fff; */
	/* box-shadow: 0 0 0 1200px #092c3e */
/* } */


