body {
	text-align: center;
	font-family: 'Lato', sans-serif;
	background-color: #ecf0f3;
}

/* input { */
	/* font-size: 20px; */
	/* border-width: 0px; */
	/* background-color: Gainsboro; */
	/* margin: 8px; */
	/* padding: 4px; */
	/* box-sizing: border-box; */
/* } */



.menu {
	border-radius: 15px;
	position: relative;
	background-color: #ecf0f3;
	max-width: 280px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}

.Paragraphes {
	border-radius: 15px;
	position: relative;
	background-color: #ecf0f3;
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}




#button {
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	color: White;
	background-color: #0099ff;
	outline: 0;
	margin: 8px;
	width: 150px;
	border: 0;
	padding: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #008ae6, -2px -2px 5px #1aa3ff;
}

#button:hover {
	border-radius: 15px;
	text-align: center;
	font-size: 20px;
	color: White;
	background-color: black;
	outline: 0;
	margin: 8px;
	border: 0;
	padding: 10px;
	cursor: pointer;
	box-shadow: 2px 2px 5px #000000, -2px -2px 5px #0d0d0d;
}


#title {
	color: White;
}

.nightbar {
	margin:0;
	padding:0;
	display:flex;
	justify-content:center;
	align-items:center;
	min-height:100vh;
}


#light {
	display: none;
}

#dark {
	display: inline;
}

#Project1 {
	/* width: 80%; */
	border-radius: 15px;
	position: relative;
	max-width: 240px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}

#Project1:hover {
	/* width: 100%; */
	background-color: #0099ff;
	cursor: pointer;
	border-radius: 15px;
	position: relative;
	max-width: 240px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}
#Project2 {
	width: 80%;
	border-radius: 15px;
	position: relative;
	max-width: 240px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}

#Project2:hover {
	width: 100%;
	background-color: #0099ff;
	cursor: pointer;
	border-radius: 15px;
	position: relative;
	max-width: 240px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 10px 20px #cbced1, -10px -10px 20px #fff;
}

h3 {
	color: black;
}